pool: 
  vmImage: ubuntu-latest
stages:
  - stage: cd
    displayName: Continuous deployment
    jobs:
      - job: docker_build
        displayName: Build Docker container image
        steps:
        - task: Docker@2
          displayName: Build Docker container image
          inputs:
            containerRegistry: 'azure-acr'
            repository: 'dotnetwebapp'
            command: 'build'
            Dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
            tags: |
              $(Build.BuildId)
              latest